@media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) and (max-width: 1024px) {}

body {
  font-family: 'Inter', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

/** Fonts **/
h1 {
  color: #2F398C;
  font-size: 55px;
  font-weight: 600;
}

h2 {
  color: #2F398C;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  color: #6E75B0;
  opacity: 75%;
  font-size: 26px;
  font-weight: 400;
}

h4 {
  color: #6E75B0;
  opacity: 75%;
  font-size: 18px;
  font-weight: 400;
}

h5 {}

h6 {
  font-size: 16px;
  color: #A7AAA9;
}

p {
  font-size: 16px;
}

/** Start Landing Page **/

/** Start Nav Menu**/
.nav-menu {
  overflow: hidden;
  background-color: rgba(245, 245, 247,0.95);
}

.nav-menu a {
  float: left;
  display: block;
}

.logo {
  height: 35px;
  width: auto;
  margin-left: 2.7vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.nav-menu-right {
  float: right;
}

.nav-menu-right a{
  color: #3643b5;
  text-align: center;
  margin-right: 3vw;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 14px;
  opacity: 60%;
}

.nav-menu a:hover {
  opacity: 100%;
}

.nav-menu .icon {
  display: none;
}

#dropdown {
  position: absolute;
  top: 33px;
  background-color: #f1f1f1;
  transform: translateX(5vw);
  visibility: hidden;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-item {
  background-color: #f1f1f1;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 0;
    margin-bottom: 5%;
  }

  .nav-menu a {
    display: none;
    margin-left: 6vw;
  }

  .nav-menu-right {
    float: left;
  }

  .nav-menu-right a {
    margin-bottom: 4vh;
    margin-top: 0;
    width: 100%;
}

.nav-menu-right a:hover {
    opacity: 50%;
}

  .nav-menu a.icon {
    float: right;
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
    color: #3643b5;
  }

  .nav-menu.responsive {
    background-color: white;
    width: 100%;
  }

  .nav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #3643b5;
  }

  .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: #3643b5;
  }

  .nav-menu.responsive a:hover {
    opacity: 75%;
  }
}

/** End Nav Menu **/

/** Start Alert **/

.alert {
  background-color: #3643b5;
  text-align: center;
  padding: 0.4%;
}

.alert-text {
  font-size: 14px;
  color: white;
  margin: 0;
}

/** End Alert **/

#landing-page {
  height: 100vh;
  width: 100vw;
  background-image: url("images/landing-background.svg");
  text-align: center;
  overflow-y: hidden;
}

.landing-row {
  margin-right: 5vw;
  margin-left: 5vw;
}

#landing-images {
  margin-top: 7vh;
}

/** Start Landing Text **/

#landing-header {
  color: white;
  margin-bottom: -1vh;
  margin-top: 7vh;
}

#landing-subtitle {
  color: white;
}

.cursor {
  display: inline-block;
  width: 3px;
  margin-left: 0.5vw;
  animation: blink 1s infinite;
  height: 55px;
}

.cursortyping {
  animation: blink 100s infinite;
}

@keyframes blink {
  0% {
    background-color: white;
    opacity: 100%;
  }

  49% {
    background-color: white;
    opacity: 0%;
  }

  50% {
    background-color: white;
    opacity: 100%;
  }

  99% {
    background-color: white;
    opacity: 0%;
  }

  100% {
    background-color: white;
    opacity: 100%;
  }
}

/** End Landing Text **/

/** End Landing Page **/

/** Start Metrics **/

#metric-page {
  text-align: center;
}

.metric-row {
  width: 100%;
  padding-bottom: 8vh;
  background-color: #3643b5;
}

.metric-row:after {
  content: "";
  display: table;
  clear: both;
}

.metric-col {
  float: left;
  width: 25%;
}

.metric-heading {
  color: white;
  opacity: 90%;
}

/**Numbers Testing**/

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.metric-heading-donations {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
}

.metric-heading-donations::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}

/**Numbers Testing**/

.metric-sub {
  margin-top: -2vh;
  color: white;
  opacity: 75%;
}

#metric-hr {
  width: 90%;
  color: white;
  opacity: 30%;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .metric-col {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .metric-col {
    float: left;
    width: 50%;
  }
}

/** End Metrics **/

/** Start Mission **/

#mission-page {
padding: 3% 5% 0 5%;
}

.pillar-row {
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 4vh;
  background-color: white;
}

.pillar-row:after {
  content: "";
  display: table;
  clear: both;
}

.pillar-col {
  float: left;
  width: 26%;
  margin-right: 6vw;
  padding-left: 30px;
  border-left: solid 1.5px #B7BCDA;
}

.empower {
}

.educate {
  margin-top: 10vh;
}

.community {
  margin-top: 20vh;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .pillar-col {
    width: 90%;
    margin-top: 8vh;
  }

  .empower {
    margin-top: 0;
  }
}

/** End Mission **/

/** Start Projects **/
#project-page {
  text-align: center;
}
/** End Projects **/


/** Start Sponsors **/

#sponsor-page {
padding: 5% 5% 7% 5%;
}

.sponsor-text {
  text-align: center;
}

.sponsor-img {
  height: 10vh;
  width: auto;
}

.sponsor-row {
  width: 100%;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.sponsor-row:after {
  content: "";
  display: table;
  clear: both;
}

.sponsor-col {
  float: left;
  text-align: center;
  width: 20%;
  margin-right: 4vw;
}


@media screen and (max-width: 767px) {
  .sponsor-col {
    width: 90%;
    margin-top: 8vh;
  }
}


/** End Sponsors **/

/** Start Team **/

#team-page {
  padding: 3% 5% 0 5%;
}

.team-row {
  width: 100%;
  padding-bottom: ;
}

.team-row:after {
  content: "";
  display: table;
  clear: both;
}

.team-col {
  float: left;
  width: 10.5%;
  padding: 1%;
  text-align: center;
}

/** Start Team Text **/

.team-text {
  text-align: center;
  margin-bottom: 4vh;
}

.team-sub {
  font-size 0;
}


/** End Team Text **/

/** Start Team Images **/

#team-linkedin {
  visibility: hidden;
  display: inline;
  width: 20px;
  height: auto;
  margin-right: 5px;
  transform: translateY(3px);
}

#team-sub {
  display: inline;
}

.team-img {
  border-radius: 100%;
  width: 130px;
  height: auto;
  border: solid 3px #a3a7c7;
}

.team-img:hover {
  transform: scale(1.05);
  border: none;
}

@media screen and (max-width: 767px) {
  .team-col {
    width: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .team-col {
    float: left;
    width: 18%;
  }
}

/** End Team Images **/

/** End Team **/

/** Start Testimonies **/

.testimony-row {
  width: 100%;
  margin-top: 10%;
}

.testimony-row:after {
  content: "";
  display: table;
  clear: both;
}

.testimony-col {
  float: left;
  width: 25%;
}

.testimony-last {
  margin-right: 0;
}

/** Start Testimony Content **/

.testimony-top {
  height: 30vh;
}

.testimony-top-1 {
  background-image: url("images/testimony-1.png");
  background-size: cover;
  background-position: center;
}

.testimony-top-2{
  background-image: url("images/testimony-2.png");
  background-size: cover;
  background-position: center;
}

.testimony-top-3{
  background-image: url("images/testimony-3.png");
  background-size: cover;
  background-position: center;
}

.testimony-top-4{
  background-image: url("images/testimony-4.jpeg");
  background-size: cover;
  background-position: center;
}

.testimony-impact {
  color: #3643b5;
  font-weight: bold;
  font-size: 24px;
}

.testimony-credit {
  color: grey;
  margin-top: 5%;
}

.testimony-bottom {
  padding: 5% 10% 10% 10%;
}

.testimony-off {
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .testimony-col {
    width: 100%;
  }
}

/** End Testimony Content **/

/** End Testimonies **/

/** Start Donate **/
.donate-box {
  width: 80%;
  height: auto;
  padding: 3% 5% 7% 5%;
  background-color: #E8E5ED;
  border-radius: 20px;
  margin: auto;
  margin-top: 8%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("images/donate-background.png");
}

.donate-text {
  color: white;
}

.donate-button {
  border: solid 1.8px white;
  border-radius: 10px;
  padding: 1% 2.5% 1% 2.5%;
  color: white;
  text-decoration: none;
}
/** End Donate **/

/** Start Footer **/
#footer {
}

.footer-row {
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #F4F4F4;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-col {
  float: left;
}

/** Start Footer Logo **/
.footer-logo {
  width: 25%;
  text-align: center;
  padding-top: 8%;
}

#footer-logo-img {
  width: 10vw;
  height: auto;
}
/** End Footer Logo **/

/** Start Footer Navigate **/
.footer-navigate {
  width: 20%;
}

.footer-navigate ul {
  list-style: none;
  padding-left: 0;
}

.footer-navigate li {
  padding-bottom: 3vh;
}

.footer-navigate a {
  text-decoration: none;
  color: #464646;
}

.footer-navigate a:hover {
  color: #3643b5;
}
/** End Footer Navigate **/

/** Start Footer Social **/
.footer-social {
  width: 23%;
}

.footer-sub {
  color: #464646;
  font-weight: 600;
  margin-bottom: -2vh;
}

.footer-social p{
  padding-bottom: 1.9vh;
}

.footer-link {
  text-decoration: none;
  color: #464646;
}

.footer-link:hover {
  color: #3643b5;
}

.footer-row-sub {
  width: 100%;
}

.footer-row-sub:after {
  content: "";
  display: table;
  clear: both;
}

.footer-col-sub {
  width: 18%;
  float: left;
}

.footer-social-icon {
  width: 25px;
  height: auto;
}
/** End Footer Social **/

.footer-newsletter {
  width: 30%;
}

  @media screen and (max-width: 767px) {
    .footer-col {
      width: 100%;
    }

    .footer-row {
      text-align: center;
    }

    .footer-col-sub {
      width: 100%;
      margin-top: 3vh;
    }
  }

/** End Footer **/
