body {
  overflow-x: hidden;
}

#projects-header {
  padding-left: 5%;
}

.carousel-wrapper {
  width: 100vw;
  height: 100vh;
}

/*Carousel Controls*/

.carousel-controls {
  position: relative;
  z-index: 1000;
}

.control {
  height: 30px;
  width: auto;
}

#control-left {
  position: absolute;
  right: 210px;
}

#control-right {
  position: absolute;
  right: 150px;
}

/*Carousel*/

.carousel {
  width: 1000%;
  margin-top: 50px;
  z-index: 0;
  padding-left: 5%;
}

.card {
  display: inline-block;
  background-color: red;
  height: 300px;
  width: 600px;
  margin-right: 30px;
  /* vertical-align: text-top; */
}

#card-1 {
  height: 400px;
  width: 800px;
}

/*Carousel Animations Larger Screen*/

.card.moveRightZoom {
  transition: 2.5s;
  transform: translateX(-731px) scaleX(1.3333333) scaleY(1.3333333);
  animation-name: increaseOpacity;
  animation-duration: 3s;
}

.card.moveRightShrink {
  transition: 2.5s;
  transform: translateX(-731px) translateY(50px) scaleX(0.75) scaleY(0.75);
  opacity: 50%;
  animation-name: decreaseOpacity;
  animation-duration: 3s;
}

.card.moveRight {
  transition: 2.5s;
  transform: translateX(-631px);
}

.card.moveLeftZoom {
  transition: 2.5s;
  transform: translateX(731px) scaleX(1.3333333) scaleY(1.3333333);
  opacity: 100%;

  animation-name: increaseOpacity;
  animation-duration: 3s;
}

.card.moveLeftShrink {
  transition: 2.5s;
  transform: translateX(731px) translateY(50px) scaleX(0.75) scaleY(0.75);
  opacity: 50%;

  animation-name: decreaseOpacity;
  animation-duration: 3s;
}

.card.moveLeft {
  transition: 2.5s;
  transform: translateX(631px);
}

@keyframes increaseOpacity {
  from {opacity: 50%;}
  to {opacity: 100%;}
}

@keyframes decreaseOpacity {
  from {opacity: 100%;}
  to {opacity: 50%;}
}

@media screen and (max-width: 925px) {
  .card {
    height: 300px;
    width: 300px;
    margin-right: 30px;
    /* vertical-align: text-top; */
  }

  #card-1 {
    height: 400px;
    width: 400px;
  }

  .card.moveRightZoom {
    transform: translateX(-381px) scaleX(1.3333333) scaleY(1.3333333);
    animation-name: increaseOpacity;
    animation-duration: 3s;
  }

  .card.moveRightShrink {
    transition: 2.5s;
    transform: translateX(-381px) translateY(50px) scaleX(0.75) scaleY(0.75);
    opacity: 50%;
    animation-name: decreaseOpacity;
    animation-duration: 3s;
  }

  .card.moveRight {
    transition: 2.5s;
    transform: translateX(-331px);
  }

  .card.moveLeftZoom {
    transition: 2.5s;
    transform: translateX(381px) scaleX(1.3333333) scaleY(1.3333333);
    opacity: 100%;
    animation-name: increaseOpacity;
    animation-duration: 3s;
  }

  .card.moveLeftShrink {
    transition: 2.5s;
    transform: translateX(381px) translateY(50px) scaleX(0.75) scaleY(0.75);
    opacity: 50%;
    animation-name: decreaseOpacity;
    animation-duration: 3s;
  }

  .card.moveLeft {
    transition: 2.5s;
    transform: translateX(331px);
  }

}
